---
layout: default
extra_js: /js/reading.js
extra_css: /css/reading.css
---

<nav class="day-nav" id="dayNav" aria-label="Day navigation">
    {% if page.prev_date %}
    <a href="{{ site.baseurl }}/readings/{{ page.prev_date }}/" class="day-nav-btn" id="prevDayBtn" aria-label="Previous day">
        <span class="arrow">&#8249;</span>
    </a>
    {% else %}
    <span class="day-nav-btn disabled" aria-hidden="true">
        <span class="arrow">&#8249;</span>
    </span>
    {% endif %}
    <span class="day-nav-current" id="currentDateDisplay">{{ page.date | date: "%B %-d, %Y" }}</span>
    {% if page.next_date %}
    <a href="{{ site.baseurl }}/readings/{{ page.next_date }}/" class="day-nav-btn" id="nextDayBtn" aria-label="Next day">
        <span class="arrow">&#8250;</span>
    </a>
    {% else %}
    <span class="day-nav-btn disabled" aria-hidden="true">
        <span class="arrow">&#8250;</span>
    </span>
    {% endif %}
</nav>

<div id="readingContent" class="loaded">
    {{ content }}
</div>
